// Указываем размеры контейнеров. Они будут ограничивать изменения масштаба.
$container-desktop-width: 1840;
$container-laptop-width: 1280;

// Указываем ширину мобильного макета.
$minViewportWidth: 402;

// vw равные 6px на разных ширинах экранах

$vw-1920: 0.3125000000vw;
$vw-1440: 0.4166666667vw;
$vw-1280: 0.4687500000vw;
$vw-1024: 0.5859375000vw;
$vw-768: 0.7812500000vw;
$vw-480: 1.2500000000vw;
$vw-375: 1.6000000000vw;
$vw-320: 1.8750000000vw;
